<!DOCTYPE html>
{%- unless lang -%}
  {%- assign lang = site.locale -%}
{%- endunless -%}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ lang }}" xml:lang="{{ lang }}"{% if page.dir %} dir="{{ dir }}"{% endif %}>
<head>
  {% include "partials/head.liquid" %}
</head>
<body{%- if classes %} class="{{ classes }}" {%- endif -%}>
{% include "partials/nav.liquid" %}

{% if header -%}
  {% include "partials/hero.liquid" %}
{%- endif %}

<main>
  {{ content }}
</main>

{% include "partials/footer.liquid" %}
</body>
</html>
